
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.completed-task-text { text-decoration: line-through; }

.page-title { margin: 0 0 22px; }

.page-section { margin-bottom: 25px; }

.add-task .show-task-form { margin-right: 20px; }
.add-task-form { }
.add-task-form .form-group { width: 50% }
.add-task-form .form-group input { width: 100% }

